body {
    background: linear-gradient(270deg, #cccccc, #858585, #5d5d5d);
    background-size: 600% 600%;
    display: flex;
	align-items: center;
	justify-content: center;

    -webkit-animation: BackgroundAnimation 27s ease infinite;
    -moz-animation: BackgroundAnimation 27s ease infinite;
    -o-animation: BackgroundAnimation 27s ease infinite;
    animation: BackgroundAnimation 27s ease infinite;
}

@-webkit-keyframes BackgroundAnimation {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@-moz-keyframes BackgroundAnimation {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@-o-keyframes BackgroundAnimation {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@keyframes BackgroundAnimation {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}

.special {
    background: #ff6700;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img::selection {
    background: none;
}
