.mainDiv {
    background-color: #8D8D8D;
    transition: all 100ms;
	filter: opacity(0.7);
    margin: 5px;
    padding: 20px;
	border-radius: 1em;
}

.mainDiv:hover {
    background-color: #7C7C7C;
}

.rulesDiv p {
    margin: 20px
}

.rulesDiv h1 {
    margin: 20px
}

.gameDiv form {
    margin: 20px;
}

.formDiv div {
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.line {
    display: flex;
}

.line button {
    border: none;
    background: none;
    cursor: pointer;
}

.special {
    background: linear-gradient(271deg, #ff6700, #de7cee);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rulesDiv {
    max-width: 400px;
}

.gameDiv {
    max-width: 200px;
}

#restart {
    justify-content: center;
    align-items: center;
}

#restartBtn {
    display: none;
}

.redirectBtn {
    margin-top: 20%;
    cursor: pointer;
}

.divTransition {
    background-color: #8D8D8D;
    transition: all 100ms;
	filter: opacity(0.7);
    margin: 5px;
    padding: 20px;
	border-radius: 1em;
}

.divTransition:hover {
    background-color: #7C7C7C;
}